[Unit]
Description=astro: close lens cover (end of morning)

[Service]
Type=oneshot
User=peter
Group=peter
ExecStart=/usr/bin/python3 /home/peter/astro-cover-move -60 closed
StandardOutput=journal
StandardError=journal
